# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo

# macOS
.DS_Store

# VSCode settings
.vscode/

# Static/media (si decides ignorarlo)
# media/
